@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url("https://kit.fontawesome.com/a376fe8093.js");

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'rubik', sans-serif;
    color: rgb(100,100,100);
}
button:focus{
    outline:0;
}

@media only screen and (min-width: 500px){
    .setGridStyle{
        width:97%;
        margin:0 auto;
    }
    .item{
        width:100%;
    }
}
@media only screen and (min-width: 800px){
    .setGridStyle{
        width:97%;
        margin:0 auto;
    }
    .item{
        width:48%;
    }
}
@media only screen and (min-width: 1100px){
    .setGridStyle{
        width:97%;
        margin:0 auto;
    }
    .item{
        width:33.2%;
    }
}
.imageItem {
    width:100%;
    margin:0;
    padding:3px 5px;
}
@media only screen and (max-width: 500px){
    .imageItem{
        padding: 3px 10px;
        margin-bottom: -2px;
    }
}

body{
    background-color: white;
}

#adjustmentBar{
    display: none;
}

#canvasDivBlock{
    background-color: rgb(20,20,20,0);
    width:100px;
    height:100px;
    margin: 0 auto;

}

#cropOptionsBox{
    display: none;
}

#header {
    display:flex;
    align-items: center;
    background: white;
    width:100vw;
    height: 60px;
    padding: 10px 10px;
    border-bottom: 2px solid rgb(240, 240, 240);
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}
@media only screen and (min-width: 500px){
    #header {
        height: 75px;
    }
}

#logo {
    margin: 20px 15px 20px 20px;
    
}

@media only screen and (max-width: 500px){
    #logo {
        margin: 20px 8px;
    }
}

.searchPlaceholder{
    display: block;
    margin-left: 15px;
    margin-top: -2px;
}

#searchBarContainer{
    height:100%;
    width:95%;
    background-color: #eceff0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

@media only screen and (min-width: 500px){
    #searchBarContainer {
        height:90%;
        width: 40%;
        margin-left: 10px;
    }
}
#searchBar{
    height:100%;
    border: 0;
    background-color: rgba(255,255,255,0);
    padding-left: 15px;
    width: 90%;
}
@media only screen and (max-width: 500px){
    #searchBar{
        padding-left:10px;
    }
    .searchPlaceholder{
        margin-left: 10px;
    }
}
input::placeholder {
    color:rgb(180,180,180);
  }

#keywordClearButton{
    width: 10%;
    height:100%;
    border: 0px;
    background: rgb(20,20,20,0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

@media only screen and (max-width: 500px){
    #keywordClearButton{
        width:12%;
    }
}
#searchBar:focus{
   outline:0;
}

#recKeyword{
    padding-top: 10px;
    padding-bottom: 7px;
    overflow: auto;
    white-space: nowrap;
    margin-top:60px;
    background-color:white;
    padding-left: 10px;
}

@media only screen and (min-width: 500px){
    #recKeyword{
        margin-top: 75px;
        padding-left: 25px;
    }
}

::-webkit-scrollbar {
    width: 0;  
    height:0;
    background: transparent;
}

.keywordRecommendation {
    padding: 0.85rem 1.5rem 1rem 1.5rem;
    border: 1px solid rgb(210,210,210);
    border-radius: 10px;
    background: white;
    margin-right:0.5em;
    text-align: center;
    color: rgb(100,100,100)
}

#downloadFile{
    background-Color: #FBC02D;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    color:black;
}

@media only screen and (max-width: 500px){
    #downloadFile{
        padding: 0.6rem 1.5rem;

    }
}
#goBackButton{
    background: none;
    border:0;
    color:rgb(26,115,232);
}
#goBackButton:hover{
    outline:0;
}
#headerEditor{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width:100vw;
    height: 75px;
    padding: 10px 10px;
    border-bottom: 2px solid rgb(245, 245, 245);
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

@media only screen and (max-width: 500px){
    #headerEditor{
        height:60px;
    }
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background-color: rgb(230,230,230);
    border-radius: 100px;
}
input[type=range]::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 18px;
    background: rgb(26,115,232);
    cursor: pointer;
    margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    margin-bottom: -5px;
}


input[type=range]:focus{
    outline:none;
}

#functionsContainer{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100%;
    padding-top:75px;
    background:rgb(245,245,245);
    display: flex;
    flex-direction: row;
}

.editFunctionButton{
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.editFunctionButton>span{
    font-size: 12px;
}
.childrenBar{
    background: white;
    width: 25vw;
    padding: 2rem 1rem;
}
#adjustmentBar div{
    margin-bottom: 1rem;
}
#adjustmentBar div input{
    margin-top: 0.8rem;
}
#artboard{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgb(228,228,228);
    flex:100%;
}

.cropButtonContainer{
    margin-bottom: 2rem;
}

.cropButtonContainer label{
    display: block;
    margin-bottom: 10px;
}
.cropButtonContainer button{
    border-radius: 8px;
    padding: 0.8rem 1.4rem;
    background: none;
    border: 2px rgb(26,115,232) solid;
    margin-bottom: 10px;
    margin-right: 10px;
    color:rgb(26,115,232);
}
@media only screen and (max-width: 500px){
    .cropButtonContainer button{
        padding: 0.8rem 1.0rem;
        margin-bottom: 10px;
        margin-right: 7px;
    }
}
#cropActionButton {
    padding: 0.8rem 1.6rem;
    background: rgb(26,115,232);
    color:white;
    border: none;
    border-radius: 8px;
    width:100%;
}

@media only screen and (max-width: 500px){
    #functionsContainer{
        flex-direction: column-reverse;
        padding-top: 60px;
    }
    .childrenBar{
        background: white;
        width: 100vw;
        padding: 2rem 1rem;
    }
    #editFunctionBar{
        display: flex;
        padding: 0 10px;
        height: 100px;
    }
    .editFunctionButton{
        width: 100px;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }
}

.cropper-line {
    background-color:rgb(26,115,232);
    opacity: 1;
}
.cropper-line.line-e {
    width:4px;
}
.cropper-line.line-w {
    width:4px;
}
.cropper-line.line-n {
    height:4px;
}
.cropper-line.line-s {
    height:4px;
}

.cropper-point {
    background-color:rgb(26,115,232);
    width:10px;
    height:10px;
    border-radius: 5px;
    opacity:1;
}
.cropper-point.point-e {
    right: -6px;
}
.cropper-point.point-w {
    left: -6px;
}
.cropper-point.point-n {
    top: -6px;
}
.cropper-point.point-s {
    bottom: -6px;
}
.cropper-point.point-ne {
    right: -6px;
    top: -6px;
}
.cropper-point.point-nw {
    left: -6px;
    top: -6px;
}
.cropper-point.point-sw{
    left: -6px;
    bottom: -6px;
}

.cropper-point.point-se{
    right: -5px;
    bottom:-5px;
    width:10px;
    height:10px;
    opacity:1;
}

.keywordRecommendation:hover{
    border: 1px solid rgb(26,115,232);
    color:rgb(26,115,232);
    cursor:pointer;
}
#goBackButton:hover{
    color:#FBC02D;
}
#resetImage{
    border:0;
    background:none;
    color: rgb(26,115,232);

}

.active{
    background-color: rgb(245,245,245);
}

#resetImage{
    margin-right: 10px;
}

.sliderBox{
    display: none;
}
.sliderToggleBar{
    display:flex;
    flex-direction: row;
    overflow: auto;
}
.sliderToggleButton{
    background-color: rgb(60, 60, 60);
    color: rgb(200,200,200);
    padding: 0.8rem 1.25rem;
    border-radius: 8px;
    border: none;
    margin-right:10px;
}
.toggleActive{
    background-color: #448AFF;
    color: black;
}
#applyAdjustment{
    background-color: rgb(26,115,232);
    color: white;
    border:0;
    outline:0;
    padding: 0.8rem 1.25rem;
    border-radius: 8px;
}
@media only screen and (min-width: 500px){
    .sliderBox{
        display: block;
    }
    .sliderToggleBar{
        display:none;
    }
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-text-fill-color: rgb(100,100,100) !important;
    -webkit-box-shadow: 0 0 0 30px #eceff0 inset !important;

}

#noResultAnimation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
}
#noResultAnimation>h1{
    font-size: 3rem;
    margin-top: -7rem;
    margin-bottom: 1rem;
}
#noResultAnimation>p{
    font-size: 1.25rem;
}
#mainAnimation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
#mainAnimation>h1{
    font-size: 2rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
}
#mainAnimation>p{
    font-size: 1.25rem;
}

@media only screen and (max-width: 500px){
    #mainAnimation{
        margin-top: 15vh;
    }
    #mainAnimation lottie-player{
        width: 320px !important;
    }
    #mainAnimation>h1{
        font-size: 1.5rem;
        margin-top: -3rem;
        margin-bottom: 1rem;
        text-align: center;
        width:50vw;
    }
}

@media (prefers-color-scheme: dark) {
    #applyAdjustment{
        color:black;
        background-color: #448AFF;
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px rgb(46,46,46) inset !important;

}
    *{
        color:rgb(220,220,220);
    }
body, #recKeyword, #header, #headerEditor{
    background-color: rgb(18,18,18);
}
#header, #headerEditor {
    border-bottom: 1px solid rgba(70,70,70, 0.4);
    
}
#searchBarContainer{
    background-color: rgb(46,46,46);
}
.keywordRecommendation{
    background-color: rgb(46,46,46);
    border:0;
    color:rgb(220,220,220);
}
input::placeholder {
    color:rgb(120,120,120);
  }
.keywordRecommendation:hover{
    background-color: #448AFF;
    color:black;
    border:0;
}
.searchBar::placeholder{
    color:rgb(50,50,50);
}
#goBackButton, #resetImage{
    color:rgb(128,175,255);
}
#editFunctionBar{
    background-color: rgb(38,38,38);
}
#adjustmentBar, #cropOptionsBox, .active{
    background-color: rgb(45,45,45);
}
#artboard{
    background-color: rgb(18,18,18);
}

#goBackButton:hover{
    color:#FFEA00;
}
#downloadFile{
    background-color:#FFD600;
    color: black;
}
input[type=range]::-webkit-slider-thumb, #cropActionButton{
    background: #448AFF;
}
input[type=range] {
    background-color: rgb(80,80,80);
}
.editFunctionButton span{
    color: rgb(150,150,150);
}
.cropButtonContainer button{
    border: 2px #448AFF solid;
    color:#448AFF;
}
#cropActionButton{
    color:black;
}
.cropButtonContainer>button:active{
    color:#FFD600;
    border: 2px #FFD600 solid;
}
#cropActionButton:active{
    background-color:#FFD600;
}

}